{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta informations of web page. -->
    <meta charset="UTF-8">
    <meta name="description" content="Home page of my portfolio">
    <meta name="keyword" content="portfolio, cv, blogs, html portfolio, css, html, javascript">
    <meta name="author" content="Anish Shrestha">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External CSS and JS link.  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Adding Icon library to the webpage. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
    
    <title>{{ title }}</title>
</head>

<body id="body">
    <!-- A navigation bar that slides from the right side of the web page. -->
    <aside class="sideBar" id="sideBar">
        <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>

        <ul class="sidebar-nav">
            <li class="nav-item">
                <a href="{% url 'route:dashboard' %}" class="nav-link">
                    <i class="fas fa-house"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'route:products' %}" class="nav-link">
                    <i class="fas fa-box"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'route:supplier' %}" class="nav-link">
                    <i class="fas fa-house-user"></i>
                    <span>Suppliers</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/customers.html" class="nav-link">
                    <i class="fas fa-users"></i>
                    <span>Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'route:purchase' %}" class="nav-link">
                    <i class="fas fa-dollar"></i>
                    <span>Purchase</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'route:invoice' %}" class="nav-link">
                    <i class="far fa-file-lines"></i>
                    <span>Invoice</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/report.html" class="nav-link">
                    <i class="fas fa-chart-line"></i>
                    <span>Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/help.html" class="nav-link">
                    <i class="fas fa-question"></i>
                    <span>Help</span>
                </a>
            </li>
        </ul>
    </aside>

    <!-- Parts of the webpage other than the side navigation bar.  -->

    <!-- Header of webpage.  -->

    <!-- An icon which when clicked on slides in the navigation bar.  -->
    <div class="openSideNav" id="openSideNav">
        <span
            style="font-size: 36px; display: inline; float: left; color:rgb(255, 255, 255); align-content: left; cursor: pointer; top: 0; margin: 0.6rem 0 0 1rem;"
            onclick="openNav()">&#9776;</span>

        <div class="user-menu">
            <div class="user" onclick="dropdown()">
                <div class="profile-image">
                    <img src="../images/1.jpg" alt="">
                </div>
            </div>
        </div>

    </div>

    <div id="dropdown" class="dropdown" style="display:none">
        <div class="user-intro">
            <div class="profile-image">
                <img src="../images/1.jpg" alt="">
            </div>

            <div class="user-info">
                <span>{{request.user}}</span>
            <p>lakhanthapa@gmail.com</p>
            </div>
        </div>
        
       <div class="edit-profile"> <i class="fas fa-pen"></i> Edit profile</div>

        <div class="profile-list">
            <ul>
                <li class="profile-menu">
                    <a href="accountSettings.html">
                        <i class="fas fa-user"></i>
                        <span>Account</span>
                    </a>
                </li>
    
                <!-- <li class="dropdown-menu">
                    <hr>
                </li>
     -->
                <li class="profile-menu">
                    <a href="accountSettings.html">
                        <i class="fas fa-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
    
                <!-- <li class="dropdown-menu">
                    <hr>
                </li> -->
    
                <li class="profile-menu">
                    <a href="../logout">
                        <i class="fas fa-sign-out"></i>
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>

        </div>

       
    </div>

    <div id="main"onclick="closeDropdown()">
        {% block content %}
        
        {% endblock %}
        
    </div>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>