{% extends 'index.html' %}

{% block content %}
<div class="table-container">
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>SN</th>
          <th>Product ID</th>
          <th>Purchase Date</th>
          <th>Quantity</th>
          <th>Purchase Price</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchase_data %}
        <tr>
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.product_id }}</td>
          <td>{{ purchase.purchase_date}}</td>
          <td>{{ purchase.quantity}} </td>
          <td>{{ purchase.purchase_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="addButton">
    <button class="add" onclick="addProduct()">
      <i class="fas fa-add"></i>
      <span>Add Purchase</span>
    </button>
  </div>
  
  <div id="product-form">
  
    <form method="POST">
      {% csrf_token %}
      <span class="title">Add Purchase</span>
        <div class="add-field">
          <label for="price">Product ID:</label>
          {{ form.product_id }}
        </div>
  
        <div class="add-field">
          <label for="supplier_ID">Price:</label>
          {{ form.purchase_price }}        
        </div>
  
        <div class="add-field">
          <label for="quantity">Quantity:</label>
          {{ form.quantity }}        
        </div>
  
        <div class="add-button">
          <input type="submit" value="Add Purchase" class="add" />
          <input type="button" value="Cancel" class="add" onclick="closeAddMenu()" />
        </div>
    </form>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  
  <script>
    // add form for product
    function addProduct() {
      document.getElementById("product-form").style.display = "flex";
      document.getElementById("example_wrapper").style.display = "none";
      document.getElementById("addButton").style.display = "none";
    }
  
    function closeAddMenu() {
      document.getElementById("product-form").style.display = "none";
      document.getElementById("addButton").style.display = "flex";
      document.getElementById("example_wrapper").style.display = "inline";
    }
  </script>
  
{% endblock %}